/* src/App.css */

.App {
  text-align: center;
  position: relative; /* Make sure the .App container is positioned relative */
}

.App-logo {
  height: 60px; /* Adjust height to make the logo smaller */
  position: absolute; /* Position the logo absolutely */
  top: 10px; /* Adjust top position */
  left: 10px; /* Adjust left position */
}

.App-title {
  height: 50px; /* Adjust height to make the logo smaller */
  position: absolute; /* Position the logo absolutely */
  top: 20px; /* Adjust top position */
  left: 80px; /* Adjust left position */
  color: #1e3441;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(8, 7, 7);
  position: relative; /* Position relative for positioning the logo */
  padding-top: 60px; /* Provide space for the logo */
}

.App-link {
  color: #080909;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.restaurant {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}

h2 {
  margin-top: 0;
}

h3 {
  text-align: center;
}

strong {
  display: inline-block;
  width: 100px;
}

/* src/Components/Layout.css */

.layout-container {
  min-height: 100vh; /* Adjust path to your image */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent repeating the image */
  display: flex;
  flex-direction: column;
  position: relative;
}

.layout-header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: semi-transparent background */
  color: white;
  position: relative; /* To ensure it sits on top of the background */
  z-index: 1; /* Ensure header is above background */
}

.layout-logo {
  height: 40px; /* Adjust size as needed */
  margin-right: 10px;
}

.layout-title {
  margin: 0;
  font-size: 24px;
}

.layout-main {
  flex: 1; /* Allow main content to grow and fill available space */
  padding: 20px;
  position: relative; /* To handle any additional positioning if needed */
  z-index: 1; /* Ensure content is above the background */
}
